<div class="row gamecard">
  <div class="gc-front">
    <img src="{{ BASE_PATH }}/assets/img/gc-{{ page.cardNum }}.png" alt="{{ gamecard.title }}">
    <h1>{{ page.title }}</h1>
    <div class="bio">
      <p>{{page.bio | markdownify }}</p>
    </div>
  </div>

  <div class="gc-back">
    <img src="{{ BASE_PATH }}/assets/img/gc-t-{{ page.cardNum }}.png" alt="{{ gamecard.token }}">
    <h2>{{ gamecard.token }}</h2>
    <div class="description">
      <p>{{page.description | markdownify }}</p>
    </div>
  </div>

  <div class="gc-inlay">
    <div class="requisites">
      <h3>Main Requisites</h3>
      <p>{{content | markdownify }}</p>
    </div>
    <div class="asshole">
      <h3>Optional Requisites</h3>
      <p>{{page.asshole_mode | markdownify }}</p>
    </div>
    <div class="context">
      <h3>Context</h3>
      <p>{{page.context | markdownify }}</p>
    </div>
  </div>
</div>
