<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row post-full">
  <div class="col-xs-12">
    <!-- <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div> -->

    <div class="cheatsheet">

      {% if page.goals %}
      <div class="cs-goals col-xs-12">
        <h3>Goals</h3>
        <p>{{page.goals}}</p>
      </div>
      {% endif %}

      {% if page.methodology %}
      <div class="cs-methodology col-xs-6">
        <h3>Methodology</h3>
        <p>{{page.methodology}}</p>
      </div>
      {% endif %}

      {% if page.timeSpan %}
      <div class="cs-timespan col-xs-6">
        <h3>Timespan</h3>
        <p>{{page.timeSpan}}</p>
      </div>
      {% endif %}

      {% if page.materials %}
      <div class="cs-materials col-xs-6">
        <h3>Materials</h3>
        <p>{{page.materials}}</p>
      </div>
      {% endif %}

      {% if page.downloadLink %}
      <div class="cs-materials col-xs-6">
        <h3>Printable Materials</h3>
        <a class="btn btn-default" href="{{page.downloadLink}}">Download PDF</a>
      </div>
      {% endif %}

      {% if page.extra %}
      <div class="cs-extra col-xs-12">
        <h3>Extra Details</h3>
        <p>{{page.extra}}</p>
      </div>
      {% endif %}

      {% if page.remember %}
      <div class="cs-remember col-xs-12">
        <h3>Remember</h3>
        <p>{{page.remember}}</p>
      </div>
      {% endif %}


    </div> <!-- end cheatsheet -->

    <div class="content col-xs-12">
      <h3>Full Description</h3>
      {{ content }}
    </div>

    {% if page.online_only %}
    <div class="cs-online col-xs-12">
      <h3>Online Extras</h3>

      {{page.online_only | markdownify }}

    </div>
    {% endif %}

    {% if page.next %}
    <div class="bottom-nav col-xs-12">
      <a class="btn btn-default" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a>
    </div>
    {% endif %}

<!--
  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="glyphicon-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="glyphicon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}

  <hr>
  <ul class="pagination">
  {% if page.previous %}
    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&laquo; Previous</a></li>
  {% else %}
    <li class="prev disabled"><a>&larr; Previous</a></li>
  {% endif %}
    <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
  {% if page.next %}
    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &raquo;</a></li>
  {% else %}
    <li class="next disabled"><a>Next &rarr;</a>
  {% endif %}
  </ul>
  <hr>
  -->

  </div>
</div>
